
   body {
    font-family: Georgia, "Times New Roman",
          Times, serif;
    color: #751A33;
    background-color: #D4B95E}
    address {
      padding: 30px;
      background-image: url("about-me images\test snail small.jpg");  
   }
   