
   body {
    margin-top: 100px;
    font-size: medium;
    /*zet je een font in de body als extra verzekering, als startpunt, of beter helemaal niet?*/

    color: #751A33;
    background-color: whitesmoke;
}
  header {
    position: fixed;
    top: 0px;
    left: 0px;
    width: 100%;
    height: 225px;
    font-size: x-large;
    background-image: url("about-me images/steep cat.png");
    background-repeat: no-repeat;
    background-color: whitesmoke;
}
.box{
  display: flex;
  justify-content: space-between;
}
#headertitle {
  font-family: 'Courier New', Courier, monospace;  
  font-size: 2.1em;
  padding-left: 2.2rem; 
}
p.headerquote {
  font-family: 'Courier New', Courier, monospace;  
  font-size: 0.55em;
  font-weight: bold;
  padding-left: 3rem;
}

ul {
  font-family: 'Courier New', Courier, monospace;
   font-size: 1.2em;
   list-style-type: none;
   text-align: right;
   padding-right: 2em;
  }
  a:link {
    text-decoration: none;
    padding: 0.3em;
    /*waarom lukt dit zonder dat dit ook bij hover staat?*/
    background-color: rgba(78, 162, 162, 0.3);
 }
 a:hover {
  text-decoration: none;
  background-color: rgba(78, 162, 162, 0.7);
 }

    #titel2 { color: #B34233}
    #titel3 { color:#D28F33 }
    address {
      padding: 30px;
      background-image: url("about-me images/test snail small.jpg");  
   }
   main {
      margin: 290px
   }
   footer { 
font-family: 'Courier New', Courier, monospace;
font-weight: bold;
font-size: 1em;
color: rgba(26, 134, 147, 100);
background-color: rgba(78, 162, 162, 0.3) ;
width: 100%;
padding: 25px;
bottom: 0px;

}
